<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <main>
            <h2>Apple List</h2>
            <div id="appleCtr">
                <% if (appleArray.length === 0) { %>
                    <p>No apples found in database</p>
               <% } else { %>
                   <% appleArray.map((apple) => { %>
                        <a class="apple" href="/apples/<%= apple.id %>">
                            
                            <% if (!apple.image_link) { %>
                                <img src="https://placehold.co/200x200" alt="placeholder image">
                            <% } else { %>
                                <img src= <%=`${apple.image_link}`%> >
                            <%}%>
                            <div class="appleInfo">
                                <p class="appleName"><%= apple.name %> </p>
                            </div>
                        
                        </a>
                   <% }) %>
              <% } %>
              
            </div>
            <a href="/apples/new"><button>Add new apple</button></a>
        </main>
        <%- include('partials/footer') %>

    </body>
</html>