<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <main>
            <div id="appleCtr">
                <img id="appleImg" src="<%= image_link || 'https://placehold.co/200x200'%>">
                <h2><%=name%></h2>
                <div id="appleInfo">
                    <p>Name: <%=name%></p>
                    <p>Also known as: <%=nickname || 'N/A'%></p>
                    <p>Origin: <%=origin || 'Unknown'%></p>
                    <p>Color: <%=color%></p>
                    <p id="price">Average Price per apple: $<%=avgPrice%></p>
                </div>

            </div>
            <div id="appleNotes">
                <h3>Notes</h3>
                <div id="noteCtr">
                    <p><%= notes || 'No notes for this apple.' %></p>
                </div>
            </div>
        </main>
        <% if (success) { %>
            <script>
                alert('Apple updated successfully!')    
            </script>
       <% } %>
       <div id="buttonCtr">
            <a href= '/apples/update/<%=id%>'>Update Apple</a>
            <a href='/apples/delete/<%=id%>'>Delete Apple</a>
       </div>
    </body>
</html>