<!DOCTYPE html>
<html>
    <%- include('partials/head.') %>

    <body>
        <%- include('partials/header') %>

        <main>
            <form action="/apple/new" method="POST">
                <h2>Add New Apple</h2>
                <div>
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" required value="<%= apple.name %>">
                </div>

                <div>
                    <label for="nickname">Nickname (Optional): </label>
                    <input type="text" name="nickname" id="nickname" 
                    <% if (apple.nickname) { %>
                        value='<%=apple.nickname%>'    
                    <% } else {
                        placeholder='Also known as - if applicable'
                   }%>>
                </div>

                <div>
                    <label for="origin">Country of Origin (Optional): </label>
                    <input type="text" name="origin" id="origin" 
                    <% if (apple.origin) { %>
                        value='<%= apple.origin%>'
                    <%} else { %>
                        placeholder="USA"
                    <%}%>>
                </div>

                <div>
                    <label for="color">Color: </label>
                    <input type="text" name="color" id="color" required value="<%= apple.color%>">
                </div>

                <div>
                    <label for="image_link">Link to an image of the apple: </label>
                    <input type="text" name="image_link" id="image_link"
                    <% if (apple.image_link) { %>
                        value='<%=apple.image_link%>'
                    <%} else { %>
                        placeholder="https://www.Website.com/path/to/apple/image"
                    <%}%>>
                </div>

                <div>
                    <label for="notes">Notes (Optional): </label>
                    <input type="text" name="notes" id="notes" 
                    <% if (apple.notes) { %>
                        value='<%=apple.notes%>'
                    <%} else { %>
                        placeholder="Enter any other notes about the apple here."
                    <%}%>>
                </div>

                <div>
                    <label for="avgPrice"> Price per apple: </label>
                    <input type="number" name="avgPrice" id="avgPrice" required value="<%=apple.price%>">
                </div>

                <button type="submit">Submit</button>
            </form>
        </main>
    </body>
</html>