<!DOCTYPE html>
<html>
    <%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

        <main>
            <form action='/apples/update/<%=apple.id%>' method="POST">
                <h2>Update Apple Info</h2>
                <div>
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" required value="<%= apple.name %>" placeholder="Honeycrisp">
                </div>

                <div>
                    <label for="nickname">Nickname (Optional): </label>
                    <input 
                        type="text" 
                        name="nickname" 
                        id="nickname" 
                        value="<%=apple.nickname || ''%>" 
                        placeholder='Also known as - if applicable'>
                   
                </div>

                <div>
                    <label for="origin">Country of Origin (Optional): </label>
                    <input
                        type="text"
                        name="origin"
                        id="origin"
                        value="<%= apple.origin || '' %>"
                        placeholder="USA">
          
                </div>

                <div>
                    <label for="color">Color: </label>
                    <input type="text" name="color" id="color" required value="<%= apple.color%>" placeholder="Red">
                </div>

                <div>
                    <label for="image_link">Link to an image of the apple: </label>
                    <input 
                        type="text" 
                        name="image_link" 
                        id="image_link"
                        value="<%= apple.image_link || '' %>"
                        placeholder="https://www.website.com/path/to/apple/image">
                   
                </div>

                <div>
                    <label for="notes">Notes (Optional): </label>
                    <textarea 
                        type='textarea' 
                        rows="5"
                        cols="30"
                        name="notes" 
                        id="notes"
                        placeholder="Enter any other notes about the apple here."><%=apple.notes || ''%></textarea>
                    
                </div>

                <div>
                    <label for="avgPrice"> Price per apple: </label>
                    <input type="numeric" name="avgPrice" id="avgPrice" required value="<%=apple.avg_price%>" placeholder="2.99" pattern="^\d+\.\d{2}$">
                </div>

                <button type="submit">Submit</button>
            </form>
        </main>
        <% if (success) { %>
            <script>
                alert('Apple has been updated');    
            </script>
      <% } %>
      <%- include('partials/footer') %>
    </body>
</html>